body{
  font-family: 'Roboto', sans-serif;
  background-color: #CAC1B1;
  color: #305973;
}

.card{
  padding: 20px 40px;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 3px rgba(10,10,10,0.1);
  background-color: #E8E8E8;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Slabo 27px', sans-serif;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  color: #305973;
}

a{
  color: #EF7E56;
  text-decoration:  none;
  font-size: 15px;
  font-style: bold;
}

a:hover{
  color: #305973;
}

h1, h2 {
  color: #EF7E56
}

.movie-poster{
  height: 150px;
  border-style: solid;
  border-color: #305973;
  border-width: 3px;
}

i{
  font-size: 25px;
}

.container{
  margin: 0 auto;
  width: 700px;
}

.profile-pic{
  border-radius: 25%;
  width: 200px
}

table{
  text-align: left;
}

table *{
  padding: 10px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.list-inline  *{
  margin: 5px auto;
}

.list-inline p{
  margin-top: 2px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
